* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/* Font family */
cairo-uniquifier {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.dot,
.dot::selection {
  color: transparent;
  cursor: default;
  font-size: 0px;
}

:root {
  --blue: #002646;
}


div.navbar{
  padding: 0;
  height: 40px;
  align-content: center !important;

}

.dropdown {
  height: 100%;
}

.nav-item{
  padding: 4px 25.5px  !important;
}

.section {
  height: fit-content;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: unset;
}

body {
  position: relative;
  background-color: white;
}

.left-section {
  row-gap: 40px;
}

.card {
  margin-bottom: 35px;
  padding: 0;
  border-radius: 0;
  min-height: 274px;
  height: fit-content;
  border: none;
  width: 100%;
  max-width: 100%;
  position: static;
  border-radius: 0;
  transition: all 0.5s ease;
  transform-style: none;
  background-color: var(--bg-item);
}

.card img {
  border-radius: 0;
  height: 180px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-wrapper {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.read-more {
  align-self: flex-start;
  font-weight: bold;
  border-radius: 16px;
  background-color: var(--blue);
}

.read-more:hover {
  background-color: var(--blue);
}

.search-label {
  position: relative;
  height: fit-content;
}

.bi.bi-search {
  color: gray;
  font-size: 18px;
  font-weight: bold;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active {
  border: none;
}

.search-btn {
  position: absolute;
  top: calc(50% - 0.5px);
  transform: translateY(-50%);
  right: 12px;
  height: 98%;
  border-left: 1px solid rgba(128, 128, 128, 0.26) !important;
  border-radius: 3px;
}

.search-btn:hover {
  background-color: rgb(240, 236, 236);
}

.search-input {
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
  font-size: 18px;
  font-weight: 600;
}

.search-input:focus {
  box-shadow: 0 0 0 0.1rem #5c5c5d73;
}

/* Start Category Section */

.categories-title {
  font-size: 20px;
  font-weight: 700;
}

[type="button"]:not(:disabled),
button:not(:disabled) {
  border: none;
}

.category-item {
  border-radius: 3px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.466);
  transition: 0.2s;
  padding: 10px 5px 0px 5px;
}

.category-item:hover {
  background-color: rgb(235, 235, 235);
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

/* Posts Section */

.image-container {
  width: 100%;
  height: 170px;
  position: relative;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
}

.image-container:hover {
  opacity: 1;
}

.image-container:hover p {
  visibility: hidden;
}

.post-image-title {
  position: absolute;
  color: rgb(255, 255, 255);
  transform: translate(-50%, 50%);
  bottom: 25px;
  left: 50%;
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  opacity: 1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.recent-images {
  width: 90px;
  height: 40px;
}

.recent-post {
  width: 90%;
  cursor: pointer;
  padding: 10px;
  transition: 0.2s;
}

.recent-post:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.recent-text {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.recent-post p {
  margin: 0%;
  font-size: 15px;
}

.footer-container {
  padding: 0;
  margin-top: 30px;
}

/* Media Queries */

@media (max-width: 650px) {
  .card img {
    height: 190px;
  }
}

@media (min-width: 960px) {
  .categories-title {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: -15px;
  }

  .footer-container {
    margin-top: 90px;
  }

  .image-container {
    width: 90%;
  }

  .container-fluid {
    min-height: fit-content;
    margin-top: 80px !important;
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(10, auto);
  }

  .left-section {
    min-height: 1300.98px;
    justify-items: center;
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-column: 1/11;
    grid-row: 1/-1;
  }

  .search-label {
    grid-column: 11/-1;
    grid-row: 1/3;
  }
  .right-section {
    grid-column: 11/-1;
    margin-top: 15px;
  }

  .card {
    width: 462.34px;
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .card {
    width: 400px;
    min-height: 452.41px;
    overflow: hidden;
  }
}
@media (min-width: 962px) and (max-width: 1234px) {
  .card {
    width: 310px;
  }
}

@media (min-width: 1500px) {
  .left-section {
    padding: 0px 80px;
  }

  .search-label,
  .right-section {
    padding-left: 0 !important;
    padding-right: 50px !important;
  }

  input[type="search"] {
    padding-right: 50px !important;
  }

  .search-btn {
    right: 50px;
  }
}
