body{
    
    /* padding: 4rem; */
    text-align: left;
    background-color: var(--bg-color);
}

.support-container p{
    font-size: 1.2rem ;
    color: var(--text-color);
    margin: 0 0 1.3rem 0;
    line-height: 1.5rem;
}

.support-container .support-heading{
    color: var(--blue);
    margin: 2rem 0;
}

.support-container h4{
    /* color: var(--blue); */
    color: black;
    margin: 0;
    margin-bottom: .25rem;
}

.padding{
    padding: 0rem 3rem ;
    line-height: 1.7rem;
}
.support-container ul{
    padding: 0rem 3rem;
}
.support-container li{
    text-transform: capitalize;
    color: var(--text-color);
    margin-bottom: .5rem;
    line-height: 1.4rem;
}

.section:nth-child(1){
    height: fit-content;
    /* margin: -4rem  auto 0 -2rem; */
    padding-bottom: 1rem;
}


@media screen and (max-width:600px){
    .section:nth-child(1){
        padding-bottom: 1.5rem ;
        height: 5rem;
    }
}