body{
    position: relative;
}
.section{
    height: max-content !important;
}

.job-heading{
    padding: 1rem 2rem;

}


.jobs-container h4{
    color: var(--blue-white);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0.5rem ; 
}

.jobs-container h2{
    font-size: 2rem ;
    margin-bottom: 1rem; 
    width: 80%;  
}

.jobs-container p{
    font-weight: 600;
}

.job-boxs{
    width: 95%;
    padding: .5rem 1.5rem ;
    /* border: 1px solid red; */
    display: flex;
    gap: 3rem ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.job-boxs .box {
    padding: .75rem 1rem ;
    width: 45%;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    padding-bottom: 2rem ;
}

.job-boxs .box .heading{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1rem ;
}

.job-boxs .box .heading .icon{
    width: fit-content;
    border-radius: .5rem;
    padding: .6rem .7rem ;
    background-color: rgba(135, 207, 235, 0.5);
    height: fit-content;
    margin: 0;
    margin-right: .5rem;

}

.job-boxs .box .heading .icon i{
    font-size: 1.3rem;
}

.job-boxs .box .heading h2{
    font-size: 1.5rem ;
    font-weight: 600;
    width: fit-content;
    margin-block: auto;
}

.job-boxs .job-description {
    margin-bottom: 2.2rem ;
}

.job-boxs .job-description .title{
    padding: .5rem ;
    border: 1px solid black ;
    border-radius: 2rem ;
    width: fit-content;
    display: block;
    margin-bottom: 1rem;
}

.job-boxs .job-description .title p{
    font-size: .95rem;
    font-weight: 500;
}

.job-boxs .job-description .description{
    width: fit-content;
    display: block;
    margin-bottom: .5rem;
}

.job-boxs .box .links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.job-boxs .box a{
    padding: 1rem 2.5rem ;
    background-color: var(--blue);
    border-radius: 1.5rem ;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



.form-container .contact{
    width: 50%;
    margin: auto;
}

.data-container .heading h2{
    font-size: 3.3rem;
    margin-top:3rem;
    text-transform: capitalize;
}

.form-container .input-box .cv-box .item{ 
    border: none;
    outline: none;
}

.form-container .input-box .cv-box label{
    font-weight: 600;
    color: var(--blue);
}

.contact form .cv-box  #cv{
    border: none;
}

.overview-box{
    width: 85vw;
    height: 80vh;
    z-index: 3;
    border: 3px solid var(--blue-white);
    border-radius: 1rem;
    overflow-y: scroll;
    padding: 1rem 2rem;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 45%;
    background-color: white;
    display: none;
    transition: all 1s ease-in-out;
}

.overview-box .close{
    color: white;
    font-size: 1.2rem;
    background-color: red;
    border-radius: .5rem;
    padding: .35rem .5rem;
    position: absolute;
    top: 1%;
    right: 0.4%;
    font-weight: bold;
    cursor: pointer;
    /* border: 2px solid black; */
}

.overview-box ol{
    margin-top:0 ;
    margin-bottom: 1rem;
}

.overview-box::-webkit-scrollbar{
    /* display: none;  */
    overflow: hidden;
    border-radius: 1rem;
}
.overview-box li b , .overview-box li p , .overview-box p{
    font-weight: 500 !important;
}

.overview-box p , .overview-box ol{
    margin-bottom: 1rem;
}
.overview-box li p{
    margin-bottom: 0 !important;
}
.overview-box li{
    margin-bottom: .2rem;
}

@media screen and (max-width:750px){
    .form-container .contact{
        width: 90%;
    }
    .jobs-container {
        margin-top:5rem;
    }
    .data-container .heading h2{
        font-size: 2.2rem;
        margin-top: 5.5rem;
    }
    .job-boxs{
        padding: .5rem;
    }
    .job-boxs .box{
        width: 80%;
        margin: auto;
    }
    .job-boxs .box .heading h2{
        font-size: 1.2rem;
        width: 100%;
    }
    .jobs-container h2{
        font-size: 1.7rem ;
        width: 95%;
    }
    .job-boxs .box .overview-box{
        top: 35%;
        left: 3%;
        width: 70vw;
        height: 60vh;
        overflow-y: scroll;
    }
    .job-boxs .box a{
        padding: .8rem 1rem;
    }
}